package main

templ Page(c ...Component) {
	<div id="page">
		for _, comp := range c {
			@comp
		}
	</div>
}

script Test() {
	console.log("Hello, world!")
}

templ LoginForm() {
	<form name="login-form">
		<label for="username">Username</label>
		<input id="username" name="username"/>
		<label for="password">Password</label>
		<input id="password" name="password"/>
		<button text="Login" type="submit">Login</button>
	</form>
}
